# Astro Runtime includes the following pre-installed providers packages: https://www.astronomer.io/docs/astro/runtime-image-architecture#provider-packages
pydantic==2.11.4
faker==37.3.0
boto3==1.38.23
pydantic-settings==2.9.1
loguru==0.7.3